:host {
  display: block;
}

.app-header {
  height: var(--headerHeight);
  display: flex;
  align-items: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-size: 1.25rem;
  margin: 0;
}
.nav a {
  margin-left: 1rem;
  opacity: 0.9;
}
.nav a.active {
  opacity: 1;
  border-bottom: 2px solid var(--cyan-500);
}
