:host ::ng-deep .p-card,
:host ::ng-deep .p-card-content {
  color: var(--semi-black);
}

/* Scope Card-related PrimeNG overrides to this component */
:host ::ng-deep .p-card .p-card-content p-divider .p-divider-horizontal {
  margin: 0.75rem 0;
}
:host ::ng-deep .p-card .p-card-content p-divider .p-divider-horizontal:before {
  border-top: 1px solid var(--grey-2);
}
:host ::ng-deep .p-card .p-card-content p-divider .p-divider-content {
  display: none;
}

.container {
  display: block;
  margin-bottom: 1.5rem;
}
